.rungame {
    .rungame__title {
        position: relative;
        text-align: center;
        font-size: calc(2rem + 1.390625vw);
        font-weight: 800;
        margin: 2rem auto;
        line-height: 1;
        z-index: 900;
    }

    .rungame__title--blue {
        color: var(--blue-light);
        font-size: calc(3rem + 1.390625vw);
        position: absolute;
        top: 0.7rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .rungame__gif {
        width: 100%;
    }

    .rungame__timer {
        font-size: calc(2rem + 1.390625vw);
        font-weight: 600;
        margin: 1rem;
        text-align: center;
    }

    .rungame__btn {
        display: block;
        margin: 2rem auto;
    }

    .rungame__distance {
        text-align: center;
    }
}

.withoutbonus__point {
    color: var(--red);
}

.bonus__point {
    color: var(--green);
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 30%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 2px solid;
    border-radius: 10px;
    z-index: 1000;
}

#popupMessage {
    margin-bottom: 10px;
    text-align: center;
}

#popupResult {
    margin-top: 10px;
}
