.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .header__logo {
        margin-right: auto;
        max-height: 3rem;
    }

    .header__logo {
        width: calc(3rem + 4vw);
    }

    .header__link {
        padding: 0rem 0.5rem;
    }
}