.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    z-index: 800;

    .header__logo {
        margin-right: auto;
        max-height: 3rem;
        width: calc(3rem + 4vw);
    }

    .header__link {
        padding: 0 0.5rem;
    }
}
