.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    z-index: 999;
    .header__logo {
        margin-right: auto;
    }
    .header__link {
        padding: 0rem 0.5rem;
    }
}
