@import "./globals/font.css";
@import "./globals/btn.css";
@import "./globals/header.css";
@import "./globals/nav.css";
@import "./profile/profile.css";
@import "./profile/edit.css";
@import "./auth.css";
@import "./fun_fact.css";
@import "./params.css";
@import "./home.css";
@import "./flamme/flamme.css";
@import "./flamme/flamme_indiv.css";
@import "./game/minigame.css";
@import "./game/running_game.css";
@import "./game/select_games.css";
@import "./groups/crea_groups.css";
@import "./groups/search_groups.css";
@import "./leaderboard.css";
@import "./game/quiz_game.css";

:root {
    --white: #f1f1f1;
    --black: #020d19;
    --yellow: #fac219;
    --blue: #4785ff;
    --blue-light: #c0d4fb;
    --red: #d23c48;
    --green: #60c744;
    --green-light: #b9e2ae;
    --grey: #948686;
    --inactiv: #c2c2c2;
}

.hidden {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--white);
}

a[disabled] {
    opacity: 0.6;
    pointer-events: none;
}
