@import "./globals/font.css";
@import "./globals/btn.css";
@import "./globals/header.css";
@import "./globals/nav.css";
@import "./profile/profile.css";
@import "./profile/edit.css";
@import "./auth.css";
@import "./params.css";
@import "./rewards.css";
@import "./home.css";
@import "flame/flame.css";
@import "flame/flame_solo.css";
@import "./game/minigame.css";
@import "./game/running_game.css";
@import "./game/select_games.css";
@import "groups/create_groups.css";
@import "./groups/search_groups.css";
@import "./leaderboard.css";
@import "./game/quiz_game.css";
@import "layout.css";
@import '/node_modules/@shoelace-style/shoelace/dist/themes/light.css';
@import '/node_modules/@shoelace-style/shoelace/dist/themes/dark.css';
@import './globals/margin.css';
@import './globals/flex.css';

:root {
    --white: #f1f1f1;
    --black: #171717;
    --yellow: #fac219;
    --blue: #4785ff;
    --blue-light: #c0d4fb;
    --red: #d23c48;
    --green: #60c744;
    --green-light: #b9e2ae;
    --grey: #948686;
    --inactiv: #c2c2c2;
    --sl-font-sans: "K2D", sans-serif;
    --sl-input-font-family: "K2D", sans-serif;
}

/* Inverse colors for dark mode */
:root.sl-theme-dark {
    --white: #171717;
    --black: #f1f1f1;
}

.hidden {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--white);
}

a[disabled] {
    opacity: 0.6;
    pointer-events: none;
}
