.auth {
    display: flex;
    justify-content: center;
}

.auth__form {
    max-width: 100%;

    & form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 1rem;
    }

    .error {
        color: var(--red);
    }
}

.auth__form::part(nav) {
    margin: 0 auto;
}

.auth__form::part(tabs) {
    flex: initial;
    text-transform: uppercase;
    --indicator-color: var(--yellow);
    --sl-font-sans: "Baloo", sans-serif;
    --sl-color-primary-600: var(--yellow);
    --sl-font-size-small: 1.25rem;
}
