@font-face {
    font-family: "Baloo";
    src: url(./../fonts/baloo/static/Baloo2-Bold.ttf);
}
@font-face {
    font-family: "K2DBold";
    src: url(./../fonts/K2D/K2D-Bold.ttf);
}
@font-face {
    font-family: "K2D";
    src: url(./../fonts/K2D/K2D-Regular.ttf);
}
@font-face {
    font-family: "OpenDyslexic";
    src: url(./../fonts/Dyslexie.otf);
}
.dyslexique {
    font-family: "OpenDyslexic", sans-serif !important;
}

h1,
h2,
h3,
p,
label,
select,
option,
button {
    color: var(--black);
}

h1 {
    font-family: "Baloo", sans-serif;
    font-size: calc(1.25rem + 1.390625vw);
}
h2 {
    font-family: "Baloo", sans-serif;
    font-size: calc(1.125rem + 1.390625vw);
}
h3 {
    font-family: "Baloo", sans-serif;
    font-size: calc(1rem + 1.390625vw);
}
p {
    font-family: "K2D", sans-serif;
    font-size: calc(0.813rem + 1.390625vw);
}
.p_bold {
    font-family: "K2DBold", sans-serif;
}
