.univ {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;

    .univ__params {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -2rem;
        margin-bottom: 0.5rem;

        & img {
            width: 4rem;
            height: auto;
            background-color: var(--green-light);
            border-radius: 1rem;
            padding: 0.7rem;
        }

        & h2 {
            font-size: calc(2rem + 1.390625vw);
            margin: 0;
        }

        .univ__params--group {
            width: 3rem;
            height: auto;
            background-color: var(--blue-light);
            border-radius: 1rem;
            padding: 0.7rem;
        }
    }

    .univ__bg {
        width: 100%;
        height: 70vh;
        border-radius: 2rem;
        position: relative;
        overflow: hidden;

        & img,
        & p {
            position: absolute;
            max-width: 100%;
        }

        .univ__bg--logo {
            width: 3rem;
        }

        .univ__bg--points {
            top: 55%;
            left: 5%;
            font-size: calc(1.5rem + 1.390625vw);
            color: var(--white);
            background-color: #d23c49dd;
            padding: 1rem;
            border-radius: 1rem;
            text-shadow: 3px 0 0 var(--black), 0 3px 0 var(--black),
            -3px 0 0 var(--black), 0 -3px 0 var(--black);
        }

        .univ__bg--points::before {
            content: "";
            position: absolute;
            top: -25px;
            left: 40%;
            margin-left: -10px;
            border-width: 0 20px 25px;
            border-style: solid;
            border-color: transparent transparent #d23c49dd transparent;
        }
    }

    & a {
        position: absolute;
        bottom: 6vh;
        left: 50%;
        transform: translateX(-50%);
        font-family: "Baloo", sans-serif;
        width: 80%;
        margin: auto;
        text-decoration: none;
        text-align: center;
        background-color: var(--green);
        border-radius: 1rem;
        font-size: calc(2rem + 1.390625vw);
        color: var(--white);
        text-shadow: 3px 0 0 var(--black), 0 3px 0 var(--black),
        -3px 0 0 var(--black), 0 -3px 0 var(--black);
    }
}

.popupgrp {
    position: fixed;
    background-color: var(--white);
    width: 100%;
    height: 80vh;
    top: 4rem;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;

    .close {
        margin-left: auto;
        width: 3rem;
        height: auto;
    }

    & form {
        margin-top: auto;
    }

    .btn {
        border: none;
        border-radius: 0.5rem;
        padding: 0.2rem 1.5rem;
        background-color: var(--red);
        color: var(--white);
        font-family: "Baloo", sans-serif;
        font-size: calc(1.8rem + 1.390625vw);
        text-shadow: 1px 0 0 var(--black), 0 1px 0 var(--black),
        -1px 0 0 var(--black), 0 -1px 0 var(--black);
    }
}
